<template>
  <div>
  <h1>Toggl Clone</h1>
    <router-link to="/about">
      <a>About</a>
    </router-link>
    <router-link to="/login">
      <a>Login</a>
    </router-link>
    <router-link to="/register">
      <a>Register</a>
    </router-link>
    <router-link to="/timer">
      <a>Timer</a>
    </router-link>

  </div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {

    }
  }
}
</script>
</style>
